<div id="buscador">
    <input type="text" #nombreAbuscar placeholder="Descripcion">
    <input type="button" (click)="buscar(nombreAbuscar.value)" value="Buscar">
    <input type="button" (click)="agregar()" value="Agregar">
</div>
<div id="tabla">
<table>
    <thead>
        <tr>
        <th>Descripcion</th>
        <th></th>
        <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let categoria of lista_categoria">
            <td>{{categoria.descripcion}}</td>
            <td><a [routerLink]="['editar',categoria.idCategoria]">Editar</a></td>
            <td><a (click)="eliminar(categoria.idCategoria)">Eliminar</a></td>
        </tr>
    </tbody>
    
</table>
<my-pagination
  (goPage)="goToPage($event,nombreAbuscar.value)"
  (goNext)="onNext(nombreAbuscar.value)"
  (goPrev)="onPrev(nombreAbuscar.value)"
  [pagesToShow]="3"
  [page]="pagina_actual"
  [perPage]="limite"
  [count]="total"></my-pagination>
</div>

<jw-modal id="modal-eliminar-incorrecto">
        No se puede eliminar!
        <button class="btn btn-secondary" (click)="closeModal('modal-eliminar-incorrecto');">Cerrar</button>
</jw-modal>
<jw-modal id="modal-eliminar-correcto">
        Eliminado exitosamente!
        <button class="btn btn-secondary" (click)="closeModal('modal-eliminar-correcto');">Cerrar</button>
</jw-modal>