<div class="container-py">
    <div class="modal-header">
        <div class="row">
            <div class="col-sm-6">
                <input type="text" #nombreAbuscar class="form-control">
            </div>
            <div class="col-sm-2">
                Nombre<input class="btn btn-info" type="radio"  value="nombre" name="nombre" [(ngModel)]="buscarPor">
            </div>
            <div class="col-sm-2">
                Apellido<input class="btn btn-info" type="radio" value="apellido" name="nombre" [(ngModel)]="buscarPor">
            </div>
            <div class="col-sm-2">
                <input class="btn btn-info" type="button" (click)="buscar(nombreAbuscar.value,1)" value="Buscar">
            </div>
        </div>
    </div>
    <div class="table-responsive-sm">
        <table class="table users table-hover"> 
            <thead>
                <tr id="miTablaPersonalizada" class="text-center" style="background-color: cadetblue;">
                    <th scope="col">Cedula</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telefono</th>
                </tr>
            </thead>
            <tbody>
                <tr id="tablaPersonaliza" class="text-center" *ngFor="let paciente of lista_paciente" (click)="elegir(paciente)">
                    <td>{{paciente.cedula}}</td>
                    <td>{{paciente.nombreCompleto}}</td>
                    <td>{{paciente.email}}</td>
                    <td>{{paciente.telefono}}</td>
                </tr>
            </tbody>            
        </table>
    </div>
</div>
<div class="row">
    <my-pagination
        (goPage)="goToPage($event,nombreAbuscar.value)"
        (goNext)="onNext(nombreAbuscar.value)"
        (goPrev)="onPrev(nombreAbuscar.value)"
        [pagesToShow]="3"
        [page]="pagina_actual"
        [perPage]="limite"
        [count]="total">
    </my-pagination>
</div>