<div class="container py-3">
  <div class="row">
    <div class="mx-auto col-sm-6">
      <div class="card">
        <div class="card-header text-center" style="background-color: lightseagreen;">
          <h2>Cambiar Horario Excepcional</h2>
        </div>
        <div class="card-body">
          <form *ngIf="editarForm" [formGroup]="editarForm" (ngSubmit)="onEditar()">
            <div class="row">
              <div class="col-sm">
                <h3 *ngIf="!ocultarHoras">Consulta adicional</h3>
              </div>
              <div class="col-sm">
                <h3 *ngIf="ocultarHoras">Consulta cancelada</h3>
              </div>
            </div><hr><br>
            <div class="row">
              <div *ngIf="doctorSel"><label>Doctor: </label><b> {{doctorSel}}</b><br></div>
              <a role="button" class="btn btn-secondary btn-lg btn-block" style="color: lightyellow; cursor: pointer;" (click)="openModal('modal-busqueda')">Asignar Doctor</a>
              <div *ngIf= "aceptado && val.idEmpleado.errors">
                <div *ngIf="val.idEmpleado.errors.noSeleccionado.message" style="color:red;">Asigne un doctor</div>
              </div>
            </div><br>
            <div class="row" *ngIf="!ocultarHoras">
              <label for="hora_ini">Hora de Inicio:</label>
              <input type="time" formControlName="horaAperturaCadena" placeholder="HHMM" name="hora_ini" class="form-control" [ngClass]="{'is-invalid': aceptado && val.horaAperturaCadena.errors}">
              <div *ngIf= " aceptado && val.horaAperturaCadena.errors" class= "invalid-feedback">
                <div *ngIf="val.horaAperturaCadena.errors.required" style="color:red;">Campo obligatorio</div>
              </div>             
            </div><br>
            <div class="row" *ngIf="!ocultarHoras">
              <label for="hora_ini">Hora Fin:</label>
              <input type="time" formControlName="horaCierreCadena" placeholder="HHMM" name="hora_ini" class="form-control" [ngClass]="{'is-invalid': aceptado && val.horaCierreCadena.errors}">
              <div *ngIf= " aceptado && val.horaCierreCadena.errors" class= "invalid-feedback">
                <div *ngIf="val.horaCierreCadena.errors.required" style="color:red;">Campo obligatorio</div>
                <div *ngIf="val.horaCierreCadena.errors.min" style="color:red;">Una hora valida</div>
                <div *ngIf="val.horaCierreCadena.errors.max" style="color:red;">Una hora valida</div>
              </div>
            </div><br>
            <div class="row" *ngIf="!ocultarHoras">
              <label for="interv">Intervalo en Minutos:</label>
              <input type="number" formControlName="intervaloMinutos" placeholder="Minutos" name="interv" class="form-control" [ngClass]="{'is-invalid': aceptado && val.intervaloMinutos.errors}">
              <div *ngIf= " aceptado && val.intervaloMinutos.errors" class= "invalid-feedback">
                <div *ngIf="val.intervaloMinutos.errors.required" style="color:red;">Campo obligatorio</div>
                <div *ngIf="val.intervaloMinutos.errors.min" style="color:red;">Debe ser mayor que 0</div>
                <div *ngIf="val.intervaloMinutos.errors.max" style="color:red;">Debe ser menor que 60</div>
              </div>
            </div><br>
            <div class="row">
              <label for="interv">Fecha Excepcion:</label>
              <input type="date" formControlName="fechaCadena" placeholder="Minutos" name="interv" class="form-control" [ngClass]="{'is-invalid': aceptado && val.fechaCadena.errors}">
              <div *ngIf= " aceptado && val.fechaCadena.errors" class= "invalid-feedback">
                <div *ngIf="val.fechaCadena.errors.required" style="color:red;">Campo obligatorio</div>
              </div>
            </div><br>
            <div class="d-flex justify-content-center">
              <div class="row">
                <div class="col-sm">
                  <button type = "submit" class="btn btn-primary signin">Modificar</button>
                </div>
                <div class="col-sm">
                  <button class= "btn btn-secondary" type = "reset" (click)="onCancelar()">Cancelar</button>
                </div>
              </div>
            </div>       
          </form>
        </div>
      </div>
    </div>
  </div>
<div>

<jw-modal id="modal-busqueda">
  <app-buscar-doctor (doctorSeleccionado)="asignarDoctor($event);closeModal('modal-busqueda')"></app-buscar-doctor>
  <button class="btn btn-secondary" (click)="closeModal('modal-busqueda');">Cerrar</button>
</jw-modal>