<div class="header">
  <h3 class="logo">GestionPacientes</h3>
  <input type="checkbox" id="chk">
  <label for="chk" class="menu-boton">
    <i class="fas fa-bars"></i>
  </label>
  <ul class="menu">
    <a [routerLink]="['/categoria']">Categoria</a>
    <a [routerLink]="['/subcategoria']">SubCategoria</a>
    <a [routerLink]="['/pacientes']">Pacientes</a>
    <a [routerLink]="['/horarios']">Horario de Atencion</a>
    <a [routerLink]="['/reservas']">Reservas</a>
    <a [routerLink]="['/fichas']">Fichas Clinicas</a>
    <a (click)="logout()">Logout</a>
    <label for="chk" class="hide-menu-boton">
      <i class="fas fa-times"></i>
    </label>
  </ul>
</div>