.header{
    height: 85px;
    background: #34495e;
    padding: 0 15px;
    color: #fff;
}

.menu{
    float: center;
    line-height: 75px;
}

.menu a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
}

.menu-boton,.hide-menu-boton{
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.menu-boton{
    float: right;
}

.menu-boton i{
    line-height: 100px;
}
.menu a:hover, .menu-boton:hover, .hide-menu-boton:hover{
    color: #3498db;
}

#chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}

@media screen and (max-width:950px){
    .menu-boton, .hide-menu-boton{
        display: block;
    }
    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #333;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
    }
    .menu a{
        display: block;
        padding: 20px;
    }
    .hide-menu-boton{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #chk:checked ~ .menu{
        right: 0;
    }
}

.activo:hover{
    cursor: pointer;
}