<div class="header">
  <input type="checkbox" id="chk">
  <label for="chk" class="menu-boton">
    <i class="fas fa-bars"></i>
  </label>
  <ul class="menu">
    <a [routerLink]="['/categoria']">Categoria</a>
    <a [routerLink]="['/subcategorias']">SubCategoria</a>
    <a [routerLink]="['/productos']">Productos</a>
    <a [routerLink]="['/pacientes']">Pacientes</a>
    <a [routerLink]="['/horarios']">Horario de Atencion</a>
    <a [routerLink]="['/reservas']">Reservas</a>
    <a [routerLink]="['/fichas']">Fichas Clinicas</a>
    <a [routerLink]="['/servicios']">Servicios</a>
    <a [routerLink]="['/serviciosR']">Reportes</a>
    <a class="activo" role="button" (click)="logout()">Logout</a>
    <label for="chk" class="hide-menu-boton">
      <i class="fas fa-times"></i>
    </label>
  </ul>
</div>
