<h2>Servicios</h2>
<div id="buscador">
        <label>Fecha Desde:</label>
        <input type="date" [value]="fechaDesde" (change)="setFechaDesde($event.target.value)">
        <label>Fecha Hasta:</label>
        <input type="date" [value]="fechaHasta" (change)="setFechaHasta($event.target.value)">
        <button (click)="openModal('modal-busqueda-doctor')">Buscar Doctor</button>
        <button (click)="openModal('modal-busqueda-paciente')">Buscar Paciente</button>
            
            <button *ngIf="doctorSelected>-1" (click)="buscarPorDoctor(-1)">Quitar filtro por doctor</button>
            <button *ngIf="pacienteSelected>-1" (click)="buscarPorPaciente(-1)">Quitar filtro por paciente</button>
        Categoria:<select (change)="cargarSubcategorias($event.target.value)">
            <option value="-1">Todas</option>
            <option *ngFor="let cat of lista_categoria" [value]="cat.idCategoria" >
                {{cat.descripcion}}
            </option>
        </select>
        SubCategoria:<select (change)="buscarPorSubCategoria($event.target.value)">
            <option value="-1">Todas</option>
            <option *ngFor="let subCat of lista_subcategoria" [value]="subCat.idTipoProducto" >
                {{subCat.descripcion}}
            </option>
        </select>     
        <button (click)="agregar()">Agregar</button>
        <a [routerLink]="['/servicios/detalles']">Ver detallado</a>
        <button (click)="exportExcel(tabla)">Exportar Excel</button>
        <button (click)="exportPDF(tabla)">Exportar PDF</button>
</div>
<div id="tabla">
    <table #tabla>
        <thead>
            <tr>
            <th>Fecha</th>
            <th>Id Ficha</th>
            <th>Fecha Ficha</th>
            <th>Doctor</th>
            <th>Paciente</th>
            <th>Subcategoria</th>
            <th>Presupuesto</th>
            <th>Acciones</th>
            <th></th>
            <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let servicio of lista_servicio">
                <td>{{servicio.fechaHora}}</td>
                <td>{{servicio.idFichaClinica.idFichaClinica}}</td>
                <td>{{servicio.idFichaClinica.fechaHora}}</td>
                <td>{{servicio.idFichaClinica.idEmpleado.nombre}}</td>
                <td>{{servicio.idFichaClinica.idCliente.nombre}}</td>
                <td>{{servicio.idFichaClinica.idTipoProducto.descripcion}}</td>
                <td>{{servicio.presupuesto}}</td>
                <td><a [routerLink]="['/servicio/modificar',servicio.idServicio,servicio.idFichaClinica.idFichaClinica]">Detalles</a></td>
                

            </tr>
        </tbody>
        
    </table>
    <my-pagination
      (goPage)="goToPage($event)"
      (goNext)="onNext()"
      (goPrev)="onPrev()"
      [pagesToShow]="3"
      [page]="pagina_actual"
      [perPage]="limite"
      [count]="total"></my-pagination>
</div>

<jw-modal id="modal-busqueda-doctor">
        <app-buscar-doctor (doctorSeleccionado)="buscarPorDoctor($event.idPersona);closeModal('modal-busqueda-doctor')"></app-buscar-doctor>
        <button (click)="closeModal('modal-busqueda-doctor');">Cerrar</button>
</jw-modal>

<jw-modal id="modal-busqueda-paciente">
        <app-buscar-paciente (pacienteSeleccionado)="buscarPorPaciente($event.idPersona);closeModal('modal-busqueda-paciente')"></app-buscar-paciente>
        <button (click)="closeModal('modal-busqueda-paciente');">Cerrar</button>
</jw-modal>

