<h2>Horarios</h2>
<div id="buscador">
        <label>Dia</label><select (change)="buscarPorDia($event.target.value)">
            <option value="-1">Cualquiera</option>
            <option *ngFor="let dia of dias_semana;let i=index" [value]="i">{{dia}}</option>
        </select>
        <button (click)="openModal('modal-busqueda')">Buscar Doctor</button>
            <button (click)="agregar()">Asignar Horario</button>
            <button>Agregar Excepcion</button>
            <button *ngIf="doctorSelected>-1" (click)="buscarPorDoctor(-1)">Quitar filtro por doctor</button>
    </div>
    <div id="tabla">
    <table>
        <thead>
            <tr>
            <th>Dia</th>
            <th>Hora de Apertura</th>
            <th>Hora de Cierre</th>
            <th>Intervalos en Min</th>
            <th>Doctor</th>
            <th></th>
            <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let horario of lista_horario">
                <td>{{dias_semana[horario.dia]}}</td>
                <td>{{horario.horaApertura}}</td>
                <td>{{horario.horaCierre}}</td>
                <td>{{horario.intervaloMinutos}}</td>
                <td>{{horario.idEmpleado.nombre}}</td>
                <td><a [routerLink]="['/horario/editar',horario.idPersonaHorarioAgenda]">Editar</a></td>
                <td><a (click)="eliminar(horario.idPersonaHorarioAgenda)">Eliminar</a></td>
            </tr>
        </tbody>
        
    </table>
    <my-pagination
      (goPage)="goToPage($event,nombreAbuscar.value)"
      (goNext)="onNext(nombreAbuscar.value)"
      (goPrev)="onPrev(nombreAbuscar.value)"
      [pagesToShow]="3"
      [page]="pagina_actual"
      [perPage]="limite"
      [count]="total"></my-pagination>
    </div>

    <jw-modal id="modal-busqueda">
            <app-buscar-doctor (doctorSeleccionado)="buscarPorDoctor($event.idPersona);closeModal('modal-busqueda')"></app-buscar-doctor>
            <button (click)="closeModal('modal-busqueda');">Cerrar</button>
        </jw-modal>

        