<div class="container mt-3">
  <div class="row">
    <h1 class="display-4">Fichas Clinicas</h1>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm">
      <label>Fecha Desde:</label>
      <input class="form-control" type="date" [value]="fechaDesde" (change)="setFechaDesde($event.target.value)">
    </div>
    <div class="col-sm">
      <label>Fecha Hasta:</label>
      <input class="form-control" type="date" [value]="fechaHasta" (change)="setFechaHasta($event.target.value)">
    </div>
  </div><br>
  <div class="row">
    <div class="col-sm-2">
      <button class="btn btn-dark" (click)="openModal('modal-busqueda-doctor')">Buscar Doctor</button>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-dark" (click)="openModal('modal-busqueda-paciente')">Buscar Paciente</button>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-dark" (click)="agregar()">Registrar Ficha</button>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-warning" style="width: 200px;" *ngIf="doctorSelected>-1" (click)="buscarPorDoctor(-1)">Quitar filtro por doctor</button>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-warning" style="width: 200px; margin-left: 20px;" *ngIf="pacienteSelected>-1" (click)="buscarPorPaciente(-1)">Quitar filtro por paciente</button>
    </div>
  </div><br>
  <div class="row">
    <div class="col-sm" style="color: black;">
      Categoria:<select class="form-control form-control-sm" (change)="cargarSubcategorias($event.target.value)">
        <option value="-1">Todas</option>
        <option *ngFor="let cat of lista_categoria" [value]="cat.idCategoria" >
          {{cat.descripcion}}
        </option>
      </select>
    </div>
    <div class="col-sm" style="color: black;">
      SubCategoria:<select class="form-control form-control-sm" (change)="buscarPorSubCategoria($event.target.value)">
        <option value="-1">Todas</option>
        <option *ngFor="let subCat of lista_subcategoria" [value]="subCat.idTipoProducto" >
          {{subCat.descripcion}}
        </option>
      </select>  
    </div>
  </div><br>
  <div class="table-resposive">
    <table class="table tableHover">
      <thead class="thead-dark">
        <tr class="text-center">
          <th>Fecha</th>
          <th>Doctor</th>
          <th>Paciente</th>
          <th>Subcategoria</th>
          <th>Motivo Consulta</th>
          <th>Diagnostico</th>
          <th>Observacion</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ficha of lista_ficha">
          <td>{{ficha.fechaHora}}</td>
          <td>{{ficha.idEmpleado.nombre}}</td>
          <td>{{ficha.idCliente.nombre}}</td>
          <td>{{ficha.idTipoProducto.descripcion}}</td>
          <td>{{ficha.motivoConsulta}}</td>
          <td>{{ficha.diagnostico}}</td>
          <td>{{ficha.observacion}}</td>
          <td>
              <i class="fas fa-edit" title="Editar Observacion" (click)="openModal('modal-modificar');setFichaModificar(ficha)"></i>
              <i class="fas fa-plus-square"[routerLink]="['/servicios/crear-servicio',ficha.idFichaClinica]" title="Agregar Servicio"></i>
              <i class="fas fa-trash-alt" title="Eliminar" (click)="eliminar(ficha.idFichaClinica)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row d-flex justify-content-center">
  <my-pagination
    (goPage)="goToPage($event)"
    (goNext)="onNext()"
    (goPrev)="onPrev()"
    [pagesToShow]="3"
    [page]="pagina_actual"
    [perPage]="limite"
    [count]="total">
  </my-pagination>
</div>

<jw-modal id="modal-busqueda-doctor">
  <app-buscar-doctor (doctorSeleccionado)="buscarPorDoctor($event.idPersona);closeModal('modal-busqueda-doctor')"></app-buscar-doctor>
  <button class="btn btn-secondary" (click)="closeModal('modal-busqueda-doctor');">Cerrar</button>
</jw-modal>

<jw-modal id="modal-busqueda-paciente">
  <app-buscar-paciente (pacienteSeleccionado)="buscarPorPaciente($event.idPersona);closeModal('modal-busqueda-paciente')"></app-buscar-paciente>
  <button class="btn btn-secondary" (click)="closeModal('modal-busqueda-paciente');">Cerrar</button>
</jw-modal>

<jw-modal id="modal-modificar">
  <div class="row">
    <label>Observacion:</label>
  </div>
  <div class="row">  
    <textarea class="form-control" rows="3" #observacion>{{fichaModifcar?.observacion}}</textarea>
  </div><br>
  <div class="row">
    <button class="btn btn-primary" (click)="modificar(observacion.value)">Guardar</button>
    <button class="btn btn-secondary" style="margin-left: 20px;" (click)="closeModal('modal-modificar');">Cerrar</button>
  </div>
</jw-modal>
