<!--<img src="../../../assets/img/imagen1.png" id="fondo" alt="background image">-->
<div class="login-box">
  <img src="../../../assets/img/avatar.png" class="avatar">
  <h1>Inicio de Sesion</h1>
  <form [formGroup]="loginUser" (ngSubmit)="login(usuario.value)">
    <p>Username</p><br>
    <input type="text" name="user" placeholder="Enter Username" formControlName="nombre" #usuario>
    <input type="submit" name="validar" value="Login" [disabled]="!loginUser.valid">
    <div *ngIf="invalidLogin" class="alert alert-success">
      <strong>Dato erroneo!</strong> Intente de nuevo.
    </div>
  </form>
</div>