<div class="crear">
        <h2 class="text-center">Modificar Subcategoria</h2>
        <form *ngIf="modificarForm" [formGroup]="modificarForm" (ngSubmit)="onModificar()">
    
                <div class="form-group">
                        <label for="descripcion">Descripcion:</label>
                        <input formControlName="descripcion" placeholder="Descripcion" name="descripion" class="form-control" id="nombre">
                </div>
                <input type="submit" [disabled]="!modificarForm.valid" class="btn btn-success" value="Modificar">
        </form>
    </div>