<h2>Detalles del Servicio</h2>
<label>Cliente</label><input type="text" [value]="fichaClinica.idCliente.nombre" disabled>
<label>Empleado</label><input type="text" [value]="fichaClinica.idEmpleado.nombre" disabled>
<!-- DETALLES SERVICIOS-->
<h3>Productos</h3>
<div id="buscador">
    Categoria:
    <select (change)="cargarSubcategorias($event.target.value)">
        <option value="-1">Seleccione una</option>
        <option *ngFor="let cat of lista_categoria" [value]="cat.idCategoria" >
            {{cat.descripcion}}
        </option>
    </select>

    SubCategoria:
    <select (change)="cargarPresentaciones($event.target.value)">
            <option value="-1">Seleccione una</option>
        <option *ngFor="let subCat of lista_subcategoria" [value]="subCat.idTipoProducto" >
            {{subCat.descripcion}}
        </option>
    </select>
    
    Tipo Servicio:
    <select (change)="cargarPrecio($event.target.value)">
            <option value="-1">Seleccione una</option>
        <option *ngFor="let pro of lista_productos;let i=index" [value]="i" >
            {{pro.nombre}}
        </option>
    </select>
    
    Cantidad: <input type="number" #cantidad min="1" [value]="1">
    Precio: <input type="number" [value]="precioSeleccionado" disabled>
    <button (click)="agregarDetalle(cantidad.value)"> Agregar</button>
    <div *ngIf="!detalle_valido">
        <p>Selecciona al menos un producto</p>
    </div>
    <table>
        <thead>
            <tr>
                <th>Presentacion</th>
                <th>Precio Unitario</th>
                <th>Cantidad</th>
                <th>Total</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let detalle of lista_detalle;let i=index">
                <td>{{detalle.idPresentacionProducto.nombre}}</td>
                <td>{{detalle.precio}}</td>
                <td>{{detalle.cantidad}}</td>
                <td>{{detalle.precio*detalle.cantidad}}</td>
                <td><a (click)=eliminarDetalle(i)>Eliminar</a></td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <button (click)="guardarServicio()">Guardar Servicio</button>
</div>

        