<div class="container mt-3">
  <div class="row">
    <h1 class="display-4">Horarios Excepcionales</h1>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm">
        <label>Fecha</label>
        <input class="form-control" type="date" [value]="diaSelected" (change)="buscarPorDia($event.target.value)">
    </div>
    <div class="col-sm">
      <label>Tipo de Excepcion</label>
      <select class="form-control" #flag (change)="flagEsHabilitar=flag.value;pagina_actual=1;;buscar()">
          <option value="S" selected>Habilitar</option>
          <option value="N">Desabilitar</option>
      </select>
    </div>
  </div><br>
  <div class="row">
    <div class="col-sm-2">
      <button class="btn btn-dark" (click)="openModal('modal-busqueda')">Buscar Doctor</button>
    </div>
    <div class="col-sm-2">        
      <button class="btn btn-dark" style="width: 200px;" (click)="agregar()">Agregar Excepcion</button>
    </div>
    <div class="col-sm-2">
        <button class="btn btn-dark" style="margin-left: 40px;"  (click)="onAtras()">Atrás</button>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-warning" style="width: 200px; margin-left: 40px;" *ngIf="doctorSelected>-1" (click)="buscarPorDoctor(-1)">Quitar filtro por doctor</button>
    </div>
  </div><br>
  <div class="table-resposive">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr class="text-center">
          <th scope="col">Fecha</th>
          <th scope="col" *ngIf="flagEsHabilitar=='S'">Hora de Apertura</th>
          <th scope="col" *ngIf="flagEsHabilitar=='S'">Hora de Cierre</th>
          <th scope="col" *ngIf="flagEsHabilitar=='S'">Intervalos en Min</th>
          <th scope="col">Doctor</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr *ngFor="let horario of lista_horario">
          <td>{{horario.fecha}}</td>
          <td *ngIf="flagEsHabilitar=='S'">{{horario.horaApertura}}</td>
          <td *ngIf="flagEsHabilitar=='S'">{{horario.horaCierre}}</td>
          <td *ngIf="flagEsHabilitar=='S'">{{horario.intervaloMinutos}}</td>
          <td>{{horario.idEmpleado.nombre}}</td>
          <td>
            <a class="btn btn-warning" role="button" [routerLink]="['/horarioE/editar',horario.idHorarioExcepcion]">Editar</a>
            <a class="btn btn-danger" style="margin-left: 10px; cursor: pointer;" role="button" (click)="eliminar(horario.idHorarioExcepcion)">Eliminar</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <my-pagination
    (goPage)="goToPage($event)"
    (goNext)="onNext()"
    (goPrev)="onPrev()"
    [pagesToShow]="3"
    [page]="pagina_actual"
    [perPage]="limite"
    [count]="total">
  </my-pagination>
</div>

<jw-modal id="modal-busqueda">
  <app-buscar-doctor (doctorSeleccionado)="buscarPorDoctor($event.idPersona);closeModal('modal-busqueda')"></app-buscar-doctor>
  <button class="btn btn-secondary" (click)="closeModal('modal-busqueda');">Cerrar</button>
</jw-modal>
